//Fonts
$font-primary:'IBM Plex Mono', monospace;
$font-secondary: 'IBM Plex Sans', sans-serif;

//Colors

$primary-color: #060A24;
$secondary-color:#FFFFFF;
$tertiary-color: #00F3BB;
$quaternary-color:#00ec47;

